body {
	background: #dee8f2; 
	background-image: url("/static/images/ultrabrightbkgnd.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 65px;
	color: #303b5b;
}

.container {
	width: 100%;
	margin: auto;
	text-align: center;
}

.navbar-color {
	background-color: #dee8f2;
	color: #303b5b;
}

.homepage {
	background-color: #dee8f2;
	border-radius: 50px;
	text-align: right;
	padding: 25px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.homepage_text {
	text-align: center;
}

input[type=submit] {
	background-color: #c0cff2;
  }

#select_choices {
	width: 50%;
    float: left;
}

#choice_img {
	margin-left: 50%;
}

dt {
	font-weight: bold;
}

p, dt {
	font-size: 1.2em;
}

h3 {
	font-size: 1.4em;
}

#sf_logo {
	width: 25px;
	height: 25px;
}

#list {
	background-color: #dee8f2;
	border-radius: 50px;
	text-align: center;
	padding: 25px;
	width: max-content; 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 0 auto;
}

#sf-col {
	padding: 0px;
}

.pattern_list {
	padding: 10px;
}