body {
	background: #dee8f2; 
	background-image: url("/static/images/ultrabrightbkgnd.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 65px;
	color: #303b5b;
}

.container {
	width: 100%;
	margin: auto;
	text-align: center;
}

.navbar-color {
	background-color: #d4e8fd;
}

#nav-text {
	color: #303b5b;
}

#nav-text li a {
	color: #303b5b;
}

.box {
	background-color: #d4e8fd;
	border-radius: 50px;
	text-align: right;
	padding: 25px;
	opacity: .8;
	margin-top: 50px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.homepage_text {
	text-align: center;
}

input[type=submit] {
	background-color: #c0cff2;
}

#sfrounds {
	margin-top: 50px;
	text-align: left;
	font-size: 2rem;
}

dt {
	font-weight: bold;
}

p, dt {
	font-size: 1.2em;
}

h3 {
	font-size: 1.4em;
}

#list {
	margin: 0 auto;
	width: max-content; 
	margin-top: 50px;
}

#sf-col {
	padding: 0px;
}

.pattern_list {
	padding: 10px;
}

button {
	background-color: #c0cff2;
}



