body {
	background: #7bb5f8; 
}

.container {
	width: 100%;
	margin: auto;
}

#select_choices {
	width: 50%;
    float: left;
}

#choice_img {
	margin-left: 50%;
}

dt {
	font-weight: bold;
}

form {
	padding: 0.5em;
	margin: 0.25em;
	border: 1px solid black;
}

p, dt {
	font-size: 1.2em;
}

h3 {
	font-size: 1.4em;
}

#sf_logo {
	width: 25px;
	height: 25px;
}


