{% extends 'base.html' %}

{% block title %}{{ session['username'] }} - Pattern Details{% endblock %}

{% block body %}
    <div class="box" id="sfrounds">
        <ul id="patt">
            <li>    
                <!-- Rnd 1 is the same for ALL patterns -->
                Rnd 1: ch 6, sl st to first chain to form a loop
            </li>
            {% for sfround in sfrounds %}
            <li>
                Rnd {{ sfround.sfround_no }}: {{ sfround.beg_seq }} 
                    [{{ sfround.sequence }}] {{ pattern.num_points}} times.
                    {{ sfround.end_seq }}
            </li> 
            {% endfor %}
        </ul>
    </div>


    <div class="box" id="printed-pattern">
        <form id="date-completed">
            <div class="row justify-content-around">
                <div class="col-4">
                    <div class="row justify-content-around">    
                        <div class="col-6 text-right">Number of rounds</div>
                        <div class="col-4 text-left" id="num-rounds">{{ pattern.num_rounds }}</div>
                    </div>

                    <div class="row justify-content-around"> 
                        <div class="col-6 text-right">Number of points</div>
                        <div class="col-4 text-left" id="num-points">{{ pattern.num_points }}</div>
                    </div>
                        
                    <div class="row justify-content-around">
                        <div class="col-6 text-right">Number of branches</div>
                        <div class="col-4 text-left" id="num-branches">{{ pattern.num_branches }}</div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col-6 text-right">Date Completed</div>
                        <div class="col-4 text-left" id="completion-date"> 
                            {% if pattern.completion_date != None %}
                                {{ pattern.completion_date.strftime('%m-%d-%Y') }}
                            {% else %}
                                {{ pattern.completion_date }}
                            {% endif %} 
                        </div>
                    </div>    

                        <!-- This is here to pass the pattern id
                             into the crud functions that need it to update the image and to delete -->
                        <div class="row" style="margin: 25px;"><input type="hidden" value="{{ pattern.pattern_id }}" id="patt-id"></div>
                        
                    <div class="row justify-content-around">
                        <div class="col-8 text-center align-self-center">
                            <label for="completion">Enter date when completed:
                            <input type="date" id="completion-input" name="completion"></label>
                        </div>
                        <div class="col-4 align-self-center">
                            <input type="submit">
                        </div>
                    </div>    
                    <div class="row mt-2"></div>
                    <div class="row mt-2"></div>
                    <div class="row mt-2"></div>
                    <div class="row mt-2"></div>
                    <div class="row mt-2"></div>
                    <div class="row justify-content-around">
                        <div class="flex-grow-1">
                            <button id="delete-pattern" name="delete">Delete this pattern</button>
                        </div>
                        <div class="flex-grow-1">
                            <button id="upload-photo">Upload photo</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex-row">
                        <div class="col-6 ml-auto">
                            {% if pattern.image_url != "None" %}
                                <img src="{{ pattern.image_url }}" class="img-fluid" id="photo" alt="user snowflake">
                            {% else %}
                            <img src="{{ pattern.image_url }}" class="img-fluid" id="photo" style="visibility: hidden" alt="user snowflake">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    


    
     
{% endblock %}