{% extends 'base.html' %}

{% block title %}{{ session['username'] }} - Pattern Details{% endblock %}

{% block body %}

    <form id="date-completed">
        <table>
            <tr>
                <td>Pattern ID</td><td id="pattern-id">{{ pattern.pattern_id }}</td>
            </tr>
            <tr>
                <td>Number of rounds</td><td id="num-rounds"> {{ pattern.num_rounds }}</td>
            </tr>
            <tr>
                <td>Number of branches</td><td id="num-branches"> {{ pattern.num_branches }}</td>
            </tr>
            <tr>
                <td>Number of points</td><td id="num-points"> {{ pattern.num_points }}</td>
            </tr>
            <tr>
                <td>Date Completed</td><td id="completion-date"> {{ pattern.completion_date }} </td>
            </tr>
            <tr>
                <td><input type="hidden" value="{{ pattern.pattern_id }}" id="patt-id"></td>
            </tr>
            <tr>
                <td>
                <label for="completion">If you've made this pattern, 
                    choose the date on which it was completed:</label>
                <input type="date" id="completion_input" name="completion">
                </td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    

    <div id="sfrounds">
        <ul>
            <li>    
                <!-- Rnd 1 is the same for ALL patterns -->
                Rnd 1: ch 6, sl st to first chain to form a loop
            </li>
            {% for sfround in sfrounds %}
            <li>
                Rnd {{ sfround.sfround_no }}: {{ sfround.beg_seq }} 
                    [{{ sfround.sequence }}] {{ pattern.num_points}} times.
                    {{ sfround.end_seq }}
            </li> 
            {% endfor %}
        </ul>
    </div>

    <!-- <script src="/static/ajax.js"></script> -->
{% endblock %}