{% extends 'base.html' %}
{% block title %}{{ session['username'] }}'s Patterns{% endblock %}

{% block body %}
    <h1>All Patterns for {{ session['username'] }}</h1>
    
    <div id="list" class="box">
        {% for pattern in user_patterns %}
        <div class="row">
            <div class="d-inline-flex" id="sf_col">
                <a href = "/patterns/{{ pattern.pattern_id }}">
                <img src='/static/images/sf_logo.png'></a>
            </div>
            <div class="d-inline-flex align-self-center pattern_list">
                Number of rounds: {{ pattern.num_rounds }}
            </div>
            <div class="d-inline-flex align-self-center pattern_list">
                Number of points: {{ pattern.num_points }}
            </div>
            <div class="d-inline-flex align-self-center pattern_list">
                Number of branches: {{ pattern.num_branches }}
            </div>
            <div class="d-inline-flex align-self-center pattern_list">
                {% if pattern.completion_date != None %}
                    Completion Date: {{ pattern.completion_date }}
                {% endif %}
            </div>
        </div>        
        {% endfor %}
    </div>  
    <!-- <a href="/sort_by_completion">Sort these by completion dates</a> -->
{% endblock %}