{% extends 'base.html' %}
{% block title %}{{ session['username'] }}'s Patterns{% endblock %}

{% block body %}
    <h1>All Patterns for {{ session['username'] }}</h1>
    
        {% for pattern in user_patterns %}
    <table>
        <td>
            User_id: {{ pattern.user_id }}</a>
        </td>    
        <td>
            <a href = "/patterns/{{ pattern.pattern_id }}">
            Pattern_id: {{ pattern.pattern_id }}</a>
        </td>
        <td>
            Number of rounds: {{ pattern.num_rounds }}
        </td>
        <td>
            Number of branches: {{ pattern.num_branches }}
        </td>
        <td>
            Number of points: {{ pattern.num_points }}
        </td>
    
        {% endfor %}
    </table>
{% endblock %}